 <style>
  .item_container{
    display:flex;
    align-items:;
    justify-content:;
    margin-top: 10px;
    display: inline-block;
    background:#333;
    color:#fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
  }
  .item_container:hover{
    transform:scale(1.01)
  }
  h1{
    margin-top:0;
  }
  .revbtn{
    text-decoration:none; !important;
    color:white; !important;
  }
  a{
    text-decoration:none;
    color:#FFFFFF;
  }
 </style>


<p style="color: green"><%= notice %></p>
<div class="d-flex justify-content-center m-3 p-2", style="border:solid 1px">

<div>
    <% if @movie.image.attached?%>
      <%= image_tag @movie.image, height: 150, width: 200%>
    <%end%>
</div>
&nbsp&nbsp

<div>
    <%= render @movie %>
</div>
</div>

<div class="d-flex justify-content-center m-3 border:solid 1px">
        <div class=" btn btn-success m-3">
          <%= link_to "Add Review", controller: "reviews", action: "new", movie_id: @movie.id %>
        </div>
        <div>
          <%= link_to "Back to movies", movies_path,class:" btn btn-primary m-3" %>
        </div> 

  <% if current_user.present? %>
    <% if current_user.id == @movie.user_id %>
    <div class="btn btn-danger revbtn m-3">
      <%= link_to "Edit this movie", edit_movie_path(@movie),class:"nav-link" %>
    </div>
    <div>
      <%= button_to "Destroy this movie", @movie, method: :delete,class:" btn btn-primary m-3" %>
    </div>
    <% end %>
  <% end %>
</div>
</div>


      <% @movie.reviews.each do |m_review|%>
          This Review is Created by : <strong><%= link_to m_review.user.name,class:" btn btn-primary m-3", controller: "users", action: "show", id: m_review.user_id %></strong><br>
        <div class="item_container m-2">
        <% if m_review.review.presence%>
          Review : <%= m_review.review%><br>
        <%end%>
        <% if m_review.rate.present?%>
          Stars Rated : <%= m_review.rate%><br>
        <%end%>
      <% if current_user.present? %>
        <% if current_user.id == m_review.user_id %>
        <%= button_to "Delete Your Review", m_review, method: :delete,class:" btn btn-primary m-3" %>
        <%end%>
      </div>
        <%end%>
        <div>
        </div><br>
        <%end%>
    

