<%
=begin%>
 <% if current_user %>
 Logged in as <%= current_user.email %>.
 <%= link_to 'Log Out', logout_path %>
<% else %>
 <%= link_to 'Sign Up', signup_path %> or
 <%= link_to 'Log In', login_path %>
<% end %> 
<%
=end%>

<style>
  .item{
    padding:2rem;
    margin:2px;
    border:2px solid grey;
  }
  .parent{
    gap:20px 20px;
    flex-wrap:wrap;
  }
</style>




<p id='notice'><%= notice %></p>
  <h1>Recent 5 Movies</h1>
<div class="d-flex justify-content-center parent p-2">
    <% @movies.each do |movie|%>
    <div class="box-container">
<div class="d-flex allign-item-center p-2">
          <% if movie.image.attached?%>
              <%=image_tag movie.image, height: 200, width: 250 %>
            <% else %>
              <%=image_tag "movie.png", height: 200, width: 250 %>
          <%end%>
        </div>
        <div>
          <h5>
            <%= link_to movie.name,class:"nav-link ", controller: "movies", action: "show", id: movie.id %><br>
            </h5>
          </div>
      </div>
    <% end%>
</div>



<div class="container">
  <h1 class="heading"> Movies by Top Reviews </h1>
    <% @reviews.each do |review|%>
    <div class="box-container">
      <div class="box">
          Review : <%= review.review%><br>
          Rating : <%= review.rate%> 
      </div>
      <div class="box">
          Movie :  <%= link_to review.movie.name, controller: "movies", action: "show", id: review.movie.id%>
      </div>
        
    </div>
    <% end%>
</div>


<div class="container">
  <h1 class="heading">Recent Movie Posted by Users </h1>
    <% @users.each do |user|%>
    <div class="box-container">
          <% if user.movies.present?%>
          <div class="box">
           User :  <%= user.name%>
          </div>
          <div class="box">
            Movie : <%=link_to user.movies.last.name, controller: "movies", action: "show", id: user.movies.last.id %>
          </div>
          <% end %>
      </div>
    <% end%>
</div>

